<ion-header>

  <ion-toolbar>

    <ion-title>
      <ion-icon name="person-circle-outline" margin="left" >
      </ion-icon>
      login</ion-title>

  </ion-toolbar>

</ion-header>



<ion-content class="ion-padding">

  



<ion-item class="ion-margin-top">

  <ion-icon name="person-outline" slot="start"></ion-icon>

  <ion-label position="floating">Usuario7</ion-label>

  <ion-input [(ngModel)]="modeloUser"></ion-input>

</ion-item>



<ion-item>

  <ion-icon name="key-outline" slot="start"></ion-icon>

  <ion-label position="floating">Contraseña</ion-label>

  <ion-input [(ngModel)]="modeloPass" type="password"></ion-input>

</ion-item>



<ion-button (click)="validarUsuario()" class="ion-margin-top" expand="full">
  <ion-icon name="home-outline" slot="start"></ion-icon>
  Ingresar</ion-button>

<ion-button (click)="mostrarFormulario()" class="ion-margin-top" expand="full">
  <ion-icon name="person-add-outline" slot="start"></ion-icon>
  Registrar</ion-button>

</ion-content>
