<ion-header>

  <ion-toolbar class="tema">

    <ion-title>
      <ion-icon name="person-circle-outline" margin="left" ></ion-icon>
      login</ion-title>

  </ion-toolbar>

</ion-header>



<ion-content class="ion-padding">
  <ion-img src="assets/images/login.svg"></ion-img>

  



<ion-item class="ion-margin-top">

  <ion-icon name="person-outline" slot="start"></ion-icon>

  <ion-label position="floating">Usuario</ion-label>

  <ion-input [(ngModel)]="modeloUser"></ion-input>

</ion-item>



<ion-item>

  <ion-icon name="key-outline" slot="start"></ion-icon>

  <ion-label position="floating">Contraseña</ion-label>

  <ion-input [(ngModel)]="modeloPass" type="password"></ion-input>

</ion-item>



<ion-button (click)="validarLogin()" class="ion-margin-top tema combi" expand="full">
  <ion-icon name="home-outline" slot="start"></ion-icon>
  Ingresar</ion-button>

<ion-button (click)="mostrarFormulario()" class="ion-margin-top tema combi" expand="full">
  <ion-icon name="person-add-outline" slot="start"></ion-icon>
  Registrar</ion-button>

<ion-button (click)="presentFormularioModi()" class="ion-margin-top tema combi" expand="full">
  <ion-icon name="build-outline" slot="start"></ion-icon>
  Modificar</ion-button>


  <ion-button class="ion-margin-top tema combi" expand="full" routerLink = "/ajskjdk"> <!-- BOTON PAGINA INEXISTENTE e404-->   
    <ion-icon name="bug-outline" slot="start"></ion-icon>
    e404</ion-button>


    
    <ion-button class="ion-margin-top tema combi" (click)="listarPersona()" expand="full" >
      <ion-icon name="list-outline" slot="start"></ion-icon>
      Listar</ion-button>
    <ion-list *ngFor="let x of lista">
      <ion-item>{{ x.USERNAME }} - {{x.CONTRASENA}}</ion-item>
    </ion-list>



</ion-content>
